{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "usePrettierrc": false,

  "prettier/prettier": [
    "error",
    {
      "parser": "flow",
      "usePrettierrc": false
    }
  ]
}
